* {
	box-sizing: border-box;
}

body {
	background: #FFF3C0;
	color: black;
}

header {
	padding: 20px 10px;
	background-color: #112547;
}

h1 {
	margin: 0;

}

h2 {
	margin: 0;
}

nav {
	margin: 0;
	padding: 10px;
	background-color: #263C63;
}

.primary {
	background-color: #3C5177;
	padding: 20px 10px;
}

.secondary {
	background-color: #945B30;
}
