* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url('../img/concrete_wall.png') #3C4149 fixed;
	color: #ccc;
	text-shadow: 1px 1px 2px black;
}

header {
	color: #eee;
	padding: 20px 10px;
	background: url('../img/dark_stripes.png');
}

h1 {
	margin: 0;
	font-size: 1.7em
}

h2 {
	margin: 0;
}

nav {
	margin: 0 auto;
	box-shadow: 0 2px 5px black;
}

nav ul {
	margin: 0 0 0 -40px;
	list-style: none;
}

nav li {
	display: block;
	width: 100%;
	margin: 0;
}

nav a {
	display: inline-block;
	padding: 15px;
	width: 100%;
	border-radius: 0;
}

nav a:hover {
	background-color: #A8A8A8;
}

a {
	font-weight: bold;
	text-shadow: none;
	color: #3C4149;
	background-color: #ccc;
	padding: 5px;
	border-radius: 5px;
}

a:hover {
	text-decoration: none;
	box-shadow: none;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 15px;
}

section	{
	color: #ccc;
	text-shadow: 1px 1px 2px black;
}

img {
	width: 100%;
	max-width: 500px
}

.primary {
	padding: 20px 10px;
}

.secondary {
	padding: 20px 10px;
	background-color: rgba(0,0,0,0.2);
}

footer {
	text-align: center;
}